#primertitulo{
	color: #2A92CA;
}
#primerboton{
  	color: yellow;
}

body{
	left: 200%;
}

label{
	font-weight: bold;
}

.contp{
	display: grid;
	position: revert;
	grid-template-columns: 20% 80%;
}
.contengrande{
	margin-left: 135px;
  	margin-right: 0px;

}

input{
	border-radius: 5px;
}
.tablatitu{
	background-color: #000080;
	color:white;
	font-family: Verdana, sans-serif

}
.tabla1{
	background-color: #000080;
	color:white;
	font-family: "Open Sans", sans-serif;
}
.tabla2{
	background-color: #000080;
	color:white;
	font-family: Verdana, sans-serif
}
.tabla3{
	background-color: #000080;
	color:white;
	font-family: Verdana, sans-serif
}
.tabla4{
	background-color: #000080;
	color:white;font-family: Verdana, sans-serif
}
.tabla5{
	background-color: #000080;
	color:white;
}
.tabla6{
	background-color: #000080;
	color: white;
}
#cuadro{
	margin-top: 30px;
	margin-right:10px ;
	margin-left: 20px;	
}

#dato{
	margin-top: 15px;
	margin-right:10px ;
	margin-left: 5px;	
}
#deporte{
	margin-top: 30px;
	margin-right:50px ;
	margin-left: 170px;
}
#cuadro3{
	margin-top: -800px;
	margin-right:300px ;
	margin-left: 600px;	
}

.areas{
	display: grid;
	position: revert;
	width: 1200px;
	grid-template-columns: 50% 50%;
}
#botones1{
	margin-top: 30px;
	margin-right:120px ;
	margin-left: 100px;
}
#botones2{
	margin-top: 30px;
	margin-right:130px ;
	margin-left: 300px;
}
.reglas{
	margin-top: 15px;
	margin-right:50px ;
	margin-left: 170px;
}
.direccion{
	margin-right:25px ;
	margin-left: 60px;
}
.boton-registrar {
  background-color: #1a237e; 
  border-radius: 20px; 
  border: none; 
  color: white; 
  font-size: 16px; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  margin-left: 580px;
  margin-right: 0px;
}
